@model IEnumerable<Odev.Web.Models.Post>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-danger" style="">Yeni bir tane oluştur</a>
</p>
<style type="text/css">

</style>
<table class="table">
    <thead>
        <tr>
            <th>
                <p class="" style="">Adı</p>
            </th>
            <th>
              <p class="" style="">Baslık</p>
            </th>
            <th>
              <p class="" style="">Acıklama</p>
            </th>
            <th>
              <p class="" style="">Zaman</p>
            </th>
            <th>
              <p class="" style="">Kategori</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      
@foreach (var item in Model) {
      <tr>
        <td>
          <input class="form-control" readonly asp-for="@item.Adi" style="" />
        </td>
        <td>
          <input class="form-control" readonly asp-for="@item.Baslik" style="" />
        </td>
        <td>
          <input class="form-control" readonly asp-for="@item.Aciklama" style="" />
        </td>
        <td>
          <input class="form-control" readonly asp-for="@item.Zaman" style="" />
        </td>
        <td>
          <input class="form-control" readonly asp-for="@item.Kategori" style="" />
        </td>
        <td>
          <a asp-action="Edit" class="btn btn-success" style=" color: #fff; background-color: #5bc0de; border-color: #46b8da;" asp-route-id="@item.Id" style="">Düzenle</a> 
        </td>
        <td>
          <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id" style="">Detaylar</a> 
        </td>
        <td>
          <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" style="">Sil</a>
        </td>
      </tr>
}
    </tbody>
</table>
